[attr]binary -text -crlf -diff -ident
* text ident

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/Makefile foreign_ident
/boards/Makefile foreign_ident
/boards/hardfile.c foreign_ident
/cia.c foreign_ident
/citest.c foreign_ident
/codeinfo.c foreign_ident
/codeinfo.h foreign_ident
/common.h foreign_ident
/compgen.c foreign_ident
/compglue.c foreign_ident
/compiler.h foreign_ident
/custom.c foreign_ident
/custom_tab.c foreign_ident
/disassembler.c foreign_ident
/gui.h foreign_ident
/gui/disassembler.c foreign_ident
/gui/gui.c foreign_ident
/gui/info.c foreign_ident
/gui/regdump.c foreign_ident
/hardware.c foreign_ident
/hardware.h foreign_ident
/interrupt.c foreign_ident
/interrupt.h foreign_ident
/m68k.h foreign_ident
/m68k.txt foreign_ident
/peephole.c foreign_ident
/peephole.h foreign_ident
/recomp.c foreign_ident
/recomp.h foreign_ident
/rtest.c foreign_ident
/sanity.c foreign_ident
/setpatch.c foreign_ident
/setpatch.h foreign_ident
/sparc.h foreign_ident
/templates/glue.gasp foreign_ident
/templates/glue.h foreign_ident
/timebase.c foreign_ident
/types.h foreign_ident
/zorro.c foreign_ident
