/opcode_tab_0000.gasp
/opcode_tab_1000.gasp
/opcode_tab_2000.gasp
/opcode_tab_3000.gasp
/opcode_tab_4000.gasp
/opcode_tab_5000.gasp
/opcode_tab_6000.gasp
/opcode_tab_7000.gasp
/opcode_tab_8000.gasp
/opcode_tab_9000.gasp
/opcode_tab_a000.gasp
/opcode_tab_b000.gasp
/opcode_tab_c000.gasp
/opcode_tab_d000.gasp
/opcode_tab_e000.gasp
/opcode_tab_f000.gasp
/more_tables.gasp
